.all-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.all-content {
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  /* border: 2px solid #ccc; */
  border-radius: 10px;
  background-color: #015da8;
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  margin: 0;
}

.chart-buttons button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
}

.chart-buttons button.active {
  background-color: #ccc;
}

.chart-tracks {
  max-height: 600px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 10px;
}

.chart-single {
  width: calc(50% - 10px);
  margin-bottom: 30px;
  display: flex;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  justify-content: flex-start;
}

.chart-img img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.chart-info {
  padding: 10px;
}

.chart-info h2 {
  font-size: 18px;
  margin: 0 0 5px;
}

.chart-info p {
  margin: 0;
  font-size: 14px;
}

.track-block {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
}

.chart-buttons {
  display: flex;
  gap: 20px;
}

/* Стили для скроллбара */
.chart-tracks::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
}

.chart-tracks::-webkit-scrollbar-track {
  background: #ccc; /* Цвет фона */
  border-radius: 8px;
}

.chart-tracks::-webkit-scrollbar-thumb {
  background-color: #888; /* Цвет скроллбара */
  border-radius: 5px; /* Радиус скроллбара */
}

@media only screen and (max-width: 600px) {
  .all-content {
    width: 100%;
    padding: 10px;
  }

  .chart-header {
    padding: 0px 15px;
  }

  .chart-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .chart-buttons button {
    width: 100%;
  }
  
  .chart-single {
    width: 100%;
    margin-bottom: 20px;
  }

  .chart-info {
    padding: 10px;
  }
}
