.all-container {
  margin: 100px 0px;
  background-color: #015da8; /* Исходный фоновый градиент */
  animation: background-animation 5s infinite alternate; /* Анимация переливания */
}

.all-content {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  justify-content: space-between;
}

.bestz, .worst {
  margin-bottom: 50px;
}

.best-single, .worst-single {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
  margin-bottom: 20px;
}

.best-single:hover, .worst-single:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.best-img, .worst-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.best-img img, .worst-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.best-info, .worst-info {
  padding: 15px;
  text-align: center;
}

.best-info h2, .worst-info h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.best-info p, .worst-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.all-content {
  text-align: center;
}

.all-content h1 {
  margin: 40px 0px;
  color: white;
}

.all-content a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Цвет фона */
  color: #333; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
  border-radius: 5px; /* Закругляем углы */
  transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
}

.all-content a:hover {
  background-color: #0056b3; /* Цвет фона при наведении */
}

@media only screen and (max-width: 600px) { 
  .best-single, .worst-single {
    height: 350px;
  }

  .bestz, .worst {
    width: 48%;
}

.all-content {
  padding: 10px;
}
}