.player {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.player-content {
  width: 100%;
}

.player-container {
  display: flex;
  width: 85%;
  margin: 20px auto;
  background: #015da8;
  border-radius: 11px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.player-text {
  text-align: left;
}

.player-text h1 {
  margin: 0;
  font-size: 62px;
  color: #333;
}

.player-text h2 {
  margin: 5px 0;
  font-size: 26px; /* Размер шрифта "Не забудьте оценить песню!" */
  color: #666;
}

.current-track {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-around;
}

.current-track img {
  width: 275px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.current-track img:hover {
  transform: scale(1.1); 
  border-radius: 10px;
}

.track-info {
  text-align: left;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.track-info h2 {
  margin: 0;
  font-size: 36px; /* Размер шрифта названия трека */
  color: white;
}

.track-info p {
  margin: 0;
  font-size: 22px; /* Размер шрифта исполнителя */
  color: white;
}

.controls {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.controls .play-pause {
  font-size: 50px;
  cursor: pointer;
}

.controls .icon-dis_like {
  display: flex;  
  gap: 20px;
  cursor: pointer;
  font-size: 23px;
  justify-content: space-around;
}

.icon-dis_like .fa-icon {
  font-size: 32px;
  cursor: pointer;
}

.efir {
  background: white;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}

.play-pause {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
}

.loading-message {
  text-align: center;
  color: white;
  font-size: 39px;
}

.vo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .player {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

  .player-container {
    flex-direction: column;
    align-items: center;
  }

  .player-text h1 {
    font-size: 32px;
    text-align: center; /* Уменьшенный размер шрифта для мобильных устройств */
  }

  .player-text h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px; /* Уменьшенный размер шрифта для мобильных устройств */
  }

  .current-track img {
    max-width: 150px; /* Уменьшенный размер изображения для мобильных устройств */
  }

  .track-info h2 {
    font-size: 14px; /* Уменьшенный размер шрифта для мобильных устройств */
  }

  .track-info p {
    font-size: 12px; /* Уменьшенный размер шрифта для мобильных устройств */
  }

  .efir {
    font-size: 16px;
  }

  .play-pause {
    font-size: 25px !important;
    padding: 5px 10px;
  }
}

