.player {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Ширина плеера */
  height: 400px; /* Высота плеера */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.player-container {
  display: flex;
  width: 85%;
  margin: 20px auto;
  background: bisque;
  border-radius: 11px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.player-text {
  text-align: left;
}

.player-text h1 {
  margin: 0;
  font-size: 62px; /* Размер шрифта "Играет сейчас" */
  color: #333;
}

.player-text h2 {
  margin: 5px 0;
  font-size: 26px; /* Размер шрифта "Не забудьте оценить песню!" */
  color: #666;
}

.current-track {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.current-track img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.current-track img:hover {
  transform: scale(1.1); 
  border-radius: 10px;
}

.track-info {
  text-align: left;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.track-info h2 {
  margin: 0;
  font-size: 16px; /* Размер шрифта названия трека */
  color: #333;
}

.track-info p {
  margin: 0;
  font-size: 14px; /* Размер шрифта исполнителя */
  color: #666;
}

.controls {
  display: flex;
    width: 87%;
    align-items: center;
    justify-content: space-between;
}