.player-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "RF Dewi Extended", sans-serif;
}

.player-container {
  display: flex;
  width: 85%;
  margin: 20px auto;
  background: linear-gradient(to right, #3F51B5, #64B5F6);
  border-radius: 11px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  position: relative;
}

.track-info-p h2 {
  font-size: 3.5em;
  font-weight: 800;
  color: #fff;
  white-space: nowrap;
  cursor: default;
}

.track-info-p p {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  opacity: .7;
  white-space: nowrap;
  cursor: default;
  margin: 0;
}

.efir {
  background: white;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 60px;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 8px;
  font-weight: 800;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.button-play {
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-pause {
  width: 23px;
  height: 23px;
}

.volume-control input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  outline: none;
  border-radius: 5px;
  background: linear-gradient(to right, white 0%, white var(--value, 100%), transparent var(--value, 50%), transparent 100%);
}

.volume-control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.1px;
  height: 0.1px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.volume-control input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(to right, white 0%, white calc(var(--value) * 1%), rgba(255, 255, 255, 0.7) calc(var(--value) * 1%), rgba(255, 255, 255, 0.7) 100%);
}

.loading-message {
  text-align: center;
  color: white;
  font-size: 39px;
}

.vo {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
  width: 55%;
}

.right {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.left {
  width: 50%;
  margin-left: 40px;
}

.image-current_track {
  width: 50%;
}

.image-current_track img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-container h2 {
  display: inline-block;
  margin: 0;
}

.marquee {
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .player-content {
    flex-direction: column;
    height: 100%;
  }

  .volume-control input[type="range"] {
    display: none;
  }

  .left {
    width: 100%;
    margin-left: 0;
    height: 100%;
  }

  .image-current_track {
    display: none;
  }

  .efir {
    font-size: .8em;
    left: 28%;
    margin-bottom: 5px;
  }

  .info_efir {
    height: 115%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .button-play {
    width: 110px;
    height: 110px;
    margin: 0 auto;
  }

  .track-info-p h2 {
    font-size: 2.6em;
    padding-left: 20%;
    animation: marquee 5s linear infinite;
    margin: 0;
  }

  .track-info-p p {
    text-align: center;
    font-size: 1em;
  }

  .vo {
    display: flex;
    margin-top: 0px;
    width: 100%;
    flex-direction: column;
    align-items: normal;
  }

  .volume-control {
    margin: 25px 30px;
  }
}

@media only screen and (max-width: 480px) {
  .player-content {
    flex-direction: column;
    height: 100%;
  }

  .volume-control input[type="range"] {
    display: none;
  }

  .left {
    width: 100%;
    margin-left: 0;
    height: 100%;
  }

  .image-current_track {
    display: none;
  }

  .efir {
    font-size: .8em;
    left: 28%;
    margin-bottom: 5px;
  }

  .info_efir {
    height: 115%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .button-play {
    width: 110px;
    height: 110px;
    margin: 0 auto;
  }

  .track-info-p h2 {
    font-size: 2.6em;
    padding-left: 20%;
    animation: marquee 5s linear infinite;
    margin: 0;
  }

  .track-info-p p {
    text-align: center;
    font-size: 1em;
  }

  .vo {
    display: flex;
    margin-top: 0px;
    width: 100%;
    flex-direction: column;
    align-items: normal;
  }

  .volume-control {
    margin: 25px 30px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .player-content {
    flex-direction: column;
    height: 100%;
  }

  .volume-control input[type="range"] {
    display: none;
  }

  .left {
    width: 100%;
    margin-left: 0;
    height: 100%;
  }

  .image-current_track {
    display: none;
  }

  .efir {
    font-size: .8em;
    left: 28%;
    margin-bottom: 5px;
  }

  .info_efir {
    height: 115%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .button-play {
    width: 110px;
    height: 110px;
    margin: 0 auto;
  }

  .track-info-p h2 {
    font-size: 2.6em;
    padding-left: 20%;
    animation: marquee 5s linear infinite;
    margin: 0;
  }

  .track-info-p p {
    text-align: center;
    font-size: 1em;
  }

  .vo {
    display: flex;
    margin-top: 0px;
    width: 100%;
    flex-direction: column;
    align-items: normal;
  }

  .volume-control {
    margin: 25px 30px;
  }
}
