/* SmallPlayer.css */

.small-player-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #015da8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 210px;
    height: 300px;
}

.small-player-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex: 1; /* Занимает оставшееся пространство */
}

.small-player-info {
    margin-bottom: 10px;
    text-align: center;
}

.small-player-info h4 {
    font-size: 16px;
    margin: 0;
    color: white;
}

.small-player-info p {
    font-size: 14px;
    margin: 0;
    color: white;
}

.small-player-controls button {
    background-color: white;
    color: black;
    display: flex;
    border: none;
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s ease;
    align-items: center;
    justify-content: center;
}

.small-player-controls button:hover {
    color: #0056b3;
}

.img-small img {
    width: 100px; /* Ширина изображения */
    height: 100px; /* Высота изображения */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
