.worst-container {
  margin: 120px 0px;
  background-color: bisque;
  padding: 50px;
}

.worst-container h1 {
  margin-left: 50px;
}

.worst-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.worst-s {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 50px;
}

.worst-single-s {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  justify-content: space-between;
}

.worst-single:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bset-img img {
  width: 100%;
  margin-bottom: 10px;
}

.worst-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.page-link:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
  @media only screen and (max-width: 600px) {
    .worst-container {
      margin: 60px 0; /* Уменьшаем отступ сверху и снизу для мобильных устройств */
      padding: 20px; /* Уменьшаем внутренний отступ */
    }
  
    .worst-container h1 {
      margin-left: 0; /* Убираем отступ слева для заголовка */
      text-align: center; /* Центрируем заголовок */
    }
  
    .worst-s {
      grid-template-columns: repeat(2, 1fr); /* Устанавливаем два столбца вместо четырех */
      gap: 10px; /* Уменьшаем промежуток между элементами */
      padding: 20px; /* Уменьшаем внутренний отступ */
    }
  
    .worst-single-s {
      width: 100%; /* Растягиваем элемент на всю ширину */
    }
  
    .worst-info {
      text-align: center; /* Центрируем текст внутри элемента */
    }
  
    .pagination {
      margin-top: 10px; /* Уменьшаем отступ сверху для пагинации */
      justify-content: center; /* Центрируем элементы пагинации */
    }
  
    .page-item {
      margin: 0 3px; /* Уменьшаем отступы между элементами пагинации */
    }
  
    .page-link {
      padding: 3px 8px; /* Уменьшаем размер кнопок пагинации */
      font-size: 12px; /* Уменьшаем размер шрифта кнопок пагинации */
    }
  
    .pagination .page-link {
      margin: 0;
    }
  }
  
  .pagination {
    flex-wrap: wrap;
    gap: 37px;
  }
}