.worst-container {
  margin: 120px 0px;
  background-color: bisque;
  padding: 50px;
}

.worst-container h1 {
  margin-left: 50px;
}

.worst-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.worst-s {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 50px;
}

.worst-single-s {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  justify-content: space-between;
}

.worst-single:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bset-img img {
  width: 100%;
  margin-bottom: 10px;
}

.worst-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.page-link:hover {
  background-color: #0056b3;
}
