.lasts-container {
    margin: 50px auto;
    text-align: center;
}

.lasts-container h2 {
    font-size: 30px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.lasts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.last-item {
    width: 200px;
    margin-bottom: 20px;
}

.last-image img {
    width: 65%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.last-image img:hover {
    transform: scale(1.1);
}

.last-info {
    text-align: center;
}

.last-info h3 {
    margin: 10px 0;
    font-size: 18px;
}

.last-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

@media only screen and (max-width: 600px) {
    .last-item {
        width: 170px;
        margin-bottom: 30px;
    }

    .lasts-container h2 {
        font-size: 25px;
    }
}