.concl {
    width: 88%;
    margin: 20px auto;
    border-top: 3px solid #015da8;
    border-bottom: 3px solid #015da8;
}

/* Info.css */

.lasts-container {
    width: 50%;
    float: left;
    padding: 20px;
  }
  
  .lasts {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;
  }
  
  .last-item {
    display: flex;
    margin-bottom: 20px;
    width: 270px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .last-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
  }
  
  .last-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .last-image:hover {
    transform: scale(1.2);
}
  
  .last-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .last-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
  }

  .last-info h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
  }

  .section-title_four {
    font-size: 36px;
    margin-bottom: 70px;
    text-align: center;
  }

.last-info p {
    margin: 10px 0px;
  }
  
  /* MainBestWorst.css */
  .main-best-worst {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    border-left: 3px solid #015da8;
}

.scroll-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 22px;
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-button:hover {
    background-color: #45a049;
}

.scroll-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.scroll-button-left {
    position: absolute;
    left: 40px;
    top: 62%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 100;
}

.scroll-button-right {
    position: absolute;
    right: 40px;
    top: 62%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 100;
}

.best-tracks {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    padding: 0 50px; /* Увеличиваем горизонтальные отступы */
}

.track-list {
    display: grid; /* Используем grid layout */
    grid-template-columns: repeat(2, 1fr); /* 3 колонки равной ширины */
    gap: 20px; /* Отступы между элементами */
    padding: 10px 20px;
}

.track {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 460px;
}

.track:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.track-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.track-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.track-info {
    padding: 20px;
}

.track-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.track-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.section-title {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}

.sub-title {
    font-size: 16px;
    color: #666;
    margin-bottom: 50px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
  .concl {
    display: flex;
    width: 93%;
    margin: 20px auto;
    border-top: 3px solid #015da8;
    border-bottom: 3px solid #015da8;
    flex-direction: column;
  }

  .lasts-container {
    width: 100%;
    padding: 0px;
  }

  .lasts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
  }

  .last-item {
    display: flex;
    margin-bottom: 20px;
    width: 181px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.last-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 170px;
}

.main-best-worst {
  border-left: none;
  border-top: 3px solid #015da8;
}

.best-tracks {
  padding: 0px;
}

.track-list {
  gap: 15px;
  padding: 10px 10px;
}

.scroll-button-right {
  right: 0px;
}

.scroll-button-left {
  left: 0px;
}
}