.footer {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.footer-image {
    margin-bottom: 20px;
}

.footer-image img {
    width: 300px;
}

.footer-info {
    margin-bottom: 30px;
}

.download-info {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
}

.download-button {
    padding: 15px 30px;
    background-color: #0088b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчеркивание */
}

.download-button:hover {
    background-color: #005671;
}

.down {
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
    }

    .footer {
        padding: 0 0 50px;
    }

    .download-info {
        margin-bottom: 5px;
    }

    .download-button {
        margin-top: 10px;
    }
}
