body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'GothamPro', sans-serif;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../public/ofont.ru_Gotham Pro.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
