.song-container {
    display: flex;
    width: 85%;
    margin: 20px auto;
    background: bisque;
    border-radius: 11px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    height: 440px;
    margin: 150px auto;
}

.song-text h2 {
    margin: 0;
    font-size: 62px;
    /* Размер шрифта "Играет сейчас" */
    color: #333;
}

.song-text p {
    margin: 5px 0;
    font-size: 26px;
    /* Размер шрифта "Не забудьте оценить песню!" */
    color: #666;
}

.song-request-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    /* Цвет фона */
    padding: 20px;
}

.song-request-widget {
    max-width: 400px;
}

.song-request-widget h2 {
    margin-bottom: 20px;
    text-align: center;
}

.song-request-widget form {
    display: flex;
    flex-direction: column;
}

.song-request-widget input[type="text"],
.song-request-widget textarea {
    margin-bottom: 20px;
    width: 350px;
    padding: 10px;
    border: none;
    /* Убираем рамку */
    border-radius: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
    /* Цвет фона */
}

.song-request-widget textarea {
    height: 100px;
    /* Высота поля ввода сообщения */
}

.song-request-widget button {
    padding: 10px 20px;
    background-color: #0088b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.song-request-widget button:hover {
    background-color: #005671;
}

@media only screen and (max-width: 600px) {
    .song-container {
        flex-direction: column;
    }

    .song-request-widget input[type="text"],
    .song-request-widget textarea {
        width: 285px;
        margin-bottom: 10px;
    }

    .song-text h2 {
        text-align: center;
        font-size: 30px;
    }

    .song-text p {
        text-align: center;
        font-size: 20px;
    }

    .footer-image {
        margin-bottom: 0px;
    }

    .footer-info p {
        color: #555;
        font-size: 16px;
        margin-bottom: 40px;
    }
}